{% load static %}
<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{% static "EcoAlpsWater/images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "EcoAlpsWater/images/favicon.ico" %}" type="image/x-icon">
    <title>Eco-AlpsWater</title>

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" data-app="a59271ef-d8f1-4711-996d-a378fd260449" type="text/javascript" src="{% static "EcoAlpsWater/js/ext-js/bootstrap.js" %}"></script>
</head>
<body></body>
</html>
