{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static "EcoAlpsWater/images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "EcoAlpsWater/images/favicon.ico" %}" type="image/x-icon">
    <title>Eco-AlpsWater</title>

        <style>
            html, body {
                width: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                border-width: 0;
            }

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                margin: 0;
                padding: 0;
                border-width: 0;
            }
        </style>
    </head>
    <body>
        <iframe src="{% static "EcoAlpsWater/js/ext-js/build/production/EcoAlpsWater/index.html" %}"></iframe>
    </body>
</html>